body {
    margin: 0;
    font-family: 'Teko', sans-serif;
}

.first-section {
    display: flex;
    background-image: url(images/i1.jpg);
    margin: auto;
}

.introduction-section {
    width: 50%;
    margin: 6% auto;
    text-align: center;
}


.introduction-section h1 {
    font-size: 3.5rem;
    text-shadow: 1px 2px 3px gray;
    margin: 0;
    padding-top: 45px;
}

.introduction-section small {
    display: block;
    margin-top: -4%;
    text-align: right;
    padding-right: 13%;
    font-size: .8rem;
    font-weight: 100;
    color: #5b5959;
    text-shadow: 1px 1px 1px #8c8383;
}

.introduction-section p {
    font-size: 1.5rem;
    font-weight: 200;
    text-shadow: .5px .5px .5px #554f4f;
}

.buttonAll {
    text-decoration: none;
    color: #222;
    font-size: 1.4rem;
    background-color: #5cdb95;
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #5cdb95;
    margin-top: 2%;
    display: inline-block;
}

.aboutMe h2 {
    margin: 0;
}

.description {
    background-color: #f7f5efb3;
}

.description {
    background-color: #f7f5efb3;
    display: flex;
    padding-top: 8%;
    height: 90vh;
}

.aboutMe-text {
    width: 50%;
    padding-left: 7%;
    padding-right: 3.5%;
}

.aboutMe-text h2 {
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 1px 1px 1px gray;
    margin: 0;
    position: relative;
}

.aboutMe-text p {
    font-size: 1.4rem;
    text-align: justify;
}

.aboutMe-img {
    width: 27%;
    padding-right: 7%;
    padding-left: 5.5%;
}

.aboutMe-img img {
    width: 100%;
    height: 65%;
    border-radius: 50%;
}

.aboutMe-img h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 1px 1px 1px gray;
    margin: 0;
}

.aboutMe-text h2::after {

    content: '';
    width: 12%;
    height: 2%;
    background-color: #5CDB95;
    position: absolute;
    top: 100%;
    left: 0;
}

.header-section h2 {
    font-size: 1.5rem;
    text-align: center;
    background: #56d08d;
    color: #fff;
    width: 15%;
    margin: auto;
    margin-top: auto;
    padding: 5px 10px;
    border-radius: 5px;
}

section.header-section {
    background-color: #5cdb95;
    padding-top: 5%;
}

.service-secton {
    display: flex;
    background-color: #5cdb95;
}

.single-cell {
    background-color: #fff;
    width: 15%;
    padding: 2% 1%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 7.65%;
    margin-right: 7.65%;
}

.single-cell h2 {
    font-size: 2rem;
    text-align: center;
    position: relative;
    margin: auto;
    font-weight: 400;
    color: #5cdb95;
}

.single-cell h2::before {
    content: '';
    width: 16%;
    height: 3px;
    background-color: #5cdb95;
    position: absolute;
    display: block;
    top: 50%;
    left: 13%;
}

.single-cell h2::after {
    content: '';
    width: 16%;
    height: 3px;
    background-color: #5cdb95;
    position: absolute;
    display: block;
    top: 50%;
    right: 13%;
}

.single-cell h3 {
    font-size: 1.7rem;
    color: #5cdb95;
    font-weight: 400;
    position: relative;
}

.single-cell h3 span {
    font-size: 3rem;

}

.single-cell h3::before {
    content: '';
    width: 10rem;
    height: 1px;
    background-color: #5cdb95;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20%;
}

.single-cell h1 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 100;
    color: #3e3737;
    display: inline;
}

.single-cell p {
    font-size: 1.4rem;
    color: #554848;
}

.single-cell a {
    font-size: 1.5rem;
    text-decoration: navajowhite;
    text-transform: capitalize;
    font-weight: 400;
    background-color: #5cdb95;
    color: white;
    padding: 4px 22px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px gray;
}